.about {
  background-color: #0c0004;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.about .overlap-group-wrapper {
  background-color: #0c0004;
  height: 100vh;
  width: 1920px;
  overflow: hidden;
}

.about .overlap-group {
  height: 1140px;
  position: fixed;
  bottom: 0px;

}

.about .ellipse {
  background-color: #faab06;
  border-radius: 269.5px/254.5px;
  filter: blur(220px);
  height: 509px;
  left: 304px;
  position: absolute;
  top: 0;
  width: 539px;
}

.about .div {
  background-color: #dc1919;
  border-radius: 269.5px/254.5px;
  filter: blur(220px);
  height: 509px;
  left: 1225px;
  position: absolute;
  top: 421px;
  width: 539px;
}

.about .text-wrapper {
  color: #ffffff;
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  left: 398px;
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  position: absolute;
  top: 384px;
  width: 1000px
}

.about .at-ivision-we-re {
  color: #ffffff;
  font-family: var(--paragraph-text-font-family);
  font-size: var(--paragraph-text-font-size);
  font-style: var(--paragraph-text-font-style);
  font-weight: var(--paragraph-text-font-weight);
  left: 398px;
  letter-spacing: var(--paragraph-text-letter-spacing);
  line-height: var(--paragraph-text-line-height);
  position: absolute;
  top: 490px;
  width: 866px;

}

.about .menu-bar {
  height: 32px;
  left: 398px;
  position: absolute;
  top: 312px;
  width: 100%;
}

.about .logo {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 112px;
}

.about .element {
  height: 29px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 33px;
}

.about .text-wrapper-2 {
  color: #fffdfd;
  font-family: var(--menu-bar-font-family);
  font-size: var(--menu-bar-font-size);
  font-style: var(--menu-bar-font-style);
  font-weight: var(--menu-bar-font-weight);
  left: 34px;
  letter-spacing: var(--menu-bar-letter-spacing);
  line-height: var(--menu-bar-line-height);
  position: absolute;
  text-align: center;
  top: 0;
}

.about .text-wrapper-3 {
  color: #fffdfd;
  font-family: var(--menu-bar-font-family);
  font-size: var(--menu-bar-font-size);
  font-style: var(--menu-bar-font-style);
  font-weight: var(--menu-bar-font-weight);
  left: 729px;
  letter-spacing: var(--menu-bar-letter-spacing);
  line-height: var(--menu-bar-line-height);
  position: absolute;
  text-align: center;
  top: 0;
}

.about .text-wrapper-4 {
  color: #fffdfd;
  font-family: var(--menu-bar-font-family);
  font-size: var(--menu-bar-font-size);
  font-style: var(--menu-bar-font-style);
  font-weight: var(--menu-bar-font-weight);
  left: 880px;
  letter-spacing: var(--menu-bar-letter-spacing);
  line-height: var(--menu-bar-line-height);
  position: absolute;
  text-align: center;
  top: 0;
}

.about .text-wrapper-5 {
  color: #fffdfd;
  font-family: var(--menu-bar-font-family);
  font-size: var(--menu-bar-font-size);
  font-style: var(--menu-bar-font-style);
  font-weight: var(--menu-bar-font-weight);
  left: 960px;
  letter-spacing: var(--menu-bar-letter-spacing);
  line-height: var(--menu-bar-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 200px;
}

.about .group {
  background-color: #c41f1f;
  height: 83px;
  left: 0;
  opacity: 0.8;
  position: absolute;
  bottom: 0px;
  width: 1920px;
}

.about .icon-whatsapp {
  height: 72px;
  left: 457px;
  position: absolute;
  bottom: 10px;
  width: 72px;
}

.about .icon-facebook {
  height: 71px;
  left: 177px;
  position: absolute;
  bottom: 10px;
  width: 72px;
}

.about .icon-gmail {
  height: 60px;
  left: 317px;
  position: absolute;
  bottom: 15px;
  width: 75px;
}
